# IDE
*.code-workspace
.vscode/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Chrome Extension dev tools
chrome-store-guide.html
store-screenshots.html

# Dev reference files
LayoutDinamico.html
SplitView.md

# Claude
.claude/

# Dependencies
node_modules/
icone.png
Microsoft_Add-ons.md
